.main-div {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-size: 35px;
}

.container {
  margin: auto;
  margin-top: 20px;
  width: 50%;
  border: 3px solid rgb(1, 77, 1);
  padding: 10px;
  min-height: 60vh;
  background-color: rgb(255, 249, 249);
}